/NetBeansProjects/Welcome2018/nbproject/private/
/NetBeansProjects/DemoJavaBeans/dist/
/NetBeansProjects/MVC2/build/
/NetBeansProjects/Struts1/nbproject/private/
/NetBeansProjects/Workshop1/build/
/NetBeansProjects/Workshop1/nbproject/private/